@import "../../styles/variables";
@import "../../styles/mixins";

.content-wrapper {
  color: #2C2C46;

  p {
    margin-bottom: 3rem;
  }

  p,
  li {
    font-size: 1.8rem;
  }

  ol, ul {
    padding-left: 1.8rem;
  }

  h1 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 1.87rem;
    margin-bottom: 2rem;
  }

  h4 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  h5 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  h6 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  &.mask-img {
    height: 40rem;
    -webkit-mask-image: linear-gradient(#fff, #fff, rgba(255, 255, 255, 0));
    overflow: hidden;
    position: relative;
  }
}

.content-wrapper--text {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1rem 0 5rem 0;
}

//blog-img
.blog-img {
  max-width: 600px;
  height: auto;
}

@include respond(phone) {
  .blog-img {
    width: 100%;
  }
}
