@import "../variables";

.navbar {
  height: 10rem;
  background-color: $cantaloupe_2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  h1 {
    font-size: 5rem;
    font-weight: bold;
    color: $white;
  }

  .nav-buttons-wrapper {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }


  .nav-action-btns {
    background: #2f47ff;
    color: #fff;
    font-size: 1.6rem;
    padding: 1rem 1.8rem;
    box-shadow: none;
    border: none;
    font-weight: 600;
    border-radius: 0.4rem;
    margin-right: 2rem;

    &:focus {
      outline: none;
    }

    &:active {
      background: darken(#2f47ff, 5%);
    }
  }

}
